<% provide :title, t(".title") %>
<div class="center jumbotron home">
  <h1><%= t ".header" %></h1>

  <h2><%= t ".content" %></h2>
  <% if !signed_in? %>
    <%= link_to t(".signin"), signin_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>  
