<% provide :title, @trainee_exam.exam_name %>
<div class="container">
  <div class="row">
    <h1>
      <%= @trainee_exam.exam_name %>
    </h1>
    <% if @trainee_exam.is_passed.nil? %>
      <%= render partial: "exam_to_mark",
        object: @trainee_exam %>
    <% else %>
      <%= render partial: "marked_exam",
        object: @trainee_exam %>      
    <% end %>
  </div>
</div>
