default: &default
  adapter: mysql2
  encoding: utf8
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: root
  password:
  socket: /var/run/mysqld/mysqld.sock

development:
  <<: *default
  database: ems_development

test:
  <<: *default
  database: ems_test

production:
  <<: *default
  database: ems_production
  username: ems
  password: <%= ENV['EMS_DATABASE_PASSWORD'] %>
