<% provide :title, t(".title") %>
<h1><%= t ".header" %></h1>

<% if user_signed_in? %>
  <% if supervisor_user? %>
    <div class="container">
      <%= link_to t(".new_subject"), {action: :new}, {method: :get,
        class: "btn btn-primary", id: "btn-new-subject"} %>
    </div>
  <% end %>
<% end %>

<div class="container">
  <ul class="subjects">
    <% @subjects.each do |subject| %>
      <li><%= link_to subject.name, exams_path(subject_id: subject.id) %></li>
    <% end %>
  </ul>
</div>

<%= paginate @subjects, theme: "twitter-bootstrap-4" %>
