<% provide :title, @subject.name %>
<div class="row">
  <h1><%= @subject.name %></h1>
</div>

<div class="container">
  <%= link_to t(".new_exam"),
    new_exam_path(subject_id: @subject.id),
    class: "btn btn-primary float-right" %>
</div>

<div class="container">
  <ul class="exams">
    <% @subject.exams.each do |exam| %>
      <li>
        <%= link_to exam.name, exam %>
      </li>
    <% end %>
  </ul>
</div>
