$gray-darker: #333;
$gray: #555;
$gray-light: #777;
$gray-lighter: #eee;
$gray-medium-light: #eaeaea;
$back-ground-question: #f1f1f1;
$whiteddd: rgb(202, 202, 202);
$answer-background: #f1f1f1;
$answer-comment-background: rgba(0, 0, 0, 0.2);
$answer-correct-background: #b8ebc4;
$answer-wrong-background: #f6cccf;
$white: white;
$green: green;
$red: red;
$h2: rgb(58, 57, 57);
$alert-alert-error-background: #f2dede;
$alert-alert-error-border: #eed3d7;
$alert-alert-error: #b94a48;
$alert-success-notice-background: #dff0d8;
$alert-success-notice-border: #d6e9c6;
$alert-success-notice: #468847;
