$gray-medium-light: #eaeaea;
$back-ground-question: #f1f1f1;
$whiteddd: rgb(202, 202, 202);
$answer-background: #f1f1f1;
$answer-comment-background: rgba(0, 0, 0, 0.2);
$answer-correct-background: #b8ebc4;
$answer-wrong-background: #f6cccf;
$white: white;
$green: green;
$red: red;
$h2: rgb(58, 57, 57);
