<li>
  <% if user_signed_in? %>
    <% if supervisor_user? %>
      <%= link_to exam.name, exam %>
    <% else %>
      <%= link_to exam.name, new_trainee_exam_path(exam_id: exam.id) %>
    <% end %>
  <% else %>
    <%= link_to exam.name, new_trainee_exam_path(exam_id: exam.id) %>
  <% end %>
</li>
